@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

//mobile
$title: 10.55vw;
$section: 24px;
$name: 5vw;
$quote: 14px;
$description: 12px;

* {
    font-family: 'Rosarivo', serif;
}