@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

//mobile
$title: 10.55vw;
$section: 6.666vw;
$name: 5vw;
$quote: 3.888vw;
$description: 3.333vw;

* {
    font-family: 'Rosarivo', serif;
}