@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

//mobile
$title: 38px;
$section: 24px;
$name: 18px;
$quote: 14px;
$description: 0.0333vw;

* {
    font-family: 'Rosarivo', serif;
}