@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

//mobile
$title: 10.55vw; //36px
$section: 6.66vw; //24px
$name: 5vw; //18px
$quote: 3.88vw; //14px
$description: 3.33vw; //12px

//
$title: 17.77vw; //64px
$section: 26.66vw; // 96px
$name: 10.55vw; //36px
$section: 6.66vw; //24px
$section: 6.66vw;  //24px


* {
    font-family: 'Rosarivo', serif;
}