.AboutMe {
    width: 100vw;
    height: 100vh;
    background: url(../../assets/Mobile/aboutMe_background.png) center center no-repeat;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr;
}