.AboutMe {
    width: 100vw;
    height: auto;
    padding: 0 35px;
    background: url(../../assets/Mobile/aboutMe_background.png) center center no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 160px 1fr 1fr 1fr;
    &-Title {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
        font-size: $section;
    }
    &-Img1 {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: center;
        justify-self: flex-start;
    }
    &-Img2 {
        grid-column: 1/2;
        grid-row: 4/5;
        align-self: center;
        justify-self: flex-end;
    }
    &-Description1 {
        padding: 0 20%;
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        align-self: center;
        justify-self: center;
        font-size: $description;
    }
    &-Description2 {
        grid-column: 1/2;
        grid-row: 6/7;
        text-align: center;
        align-self: center;
        justify-self: center;
        font-size: $description;
    }
}