header {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 80px 200px 1fr;
}
.header {
    &-Burger {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;

        position: relative;

        width: 48px;
        height: 48px;

        &-Line {
            height: 5px;
            width: 25px;
            background: $black;
        }
    }
    &-Name {
        grid-row: 1/2;
        grid-column: 2/3;
        font-size: $name;
        word-wrap: break-word;
    }
}