.MyWorks {
    width: 100vw;
    height: auto;
    &-Title {
        font-size: $section;
        padding: 30px 0;
        display: grid;
        place-items: center;
    }
    &-Sections {
        width: 100vw;
        height: auto;
        z-index: 1;
        &-Title {
            font-size: $section;
            display: grid;
            place-items: center;
            padding: 30px 0;
            background: url('../../assets/Mobile/myWorks_visualizationBG.png') center center no-repeat;
            background-size: cover;
        }
        &-Works {
            margin-top: 10px;
            transition: 0.4s;
            height: auto;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &_off {
                transition: 0.4s;
                margin-top: 0px;
                height: 0px;
                & img {
                    transition: 0.4s !important;
                    height: 0px !important;
                }
            }
            & img {
                height: 150px;
                transition: 0.4s;
                padding: 20px 0;
            }
        }
    }
}