.Nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    font-size: $section;
    top: 0;
    left: 0;
    background: rgba($color: #fff, $alpha: 0.8);
    padding: 100px 0 50px 30px;
    &-Line {
        width: 120px;
        height: 2px;
        background: #000;
        
    }
}